.chart {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(27,38,44,0.5);
}  

.minimize {
  position: absolute;
  right:0;
  height: 40px;
}

.minimize:hover {
  cursor: pointer;
}

.toolbarExpand {
  width: fit-content;
  height: fit-content;
  position: absolute;
  bottom: 0;
  margin-bottom: 70px;
  background: transparent;
}

.toolbarExpand:hover {
  cursor: pointer;
}

.toolbar {
  width: 200px;
  height: 30%;
  position: absolute;
  bottom: 0;
  margin-bottom: 70px;
  background: transparent;
  min-width: 300px;
}

.toolbarFullscreen {
  width: calc(70vw - 580px);
  height: 40%;
  position: absolute;
  bottom: 0;
  margin-bottom: 70px;
  background: transparent;
  min-width: 300px;
}

.headerContainer {
  width: 100%;
  height: 40px;
  background: #1b262c;
  align-items: center;
  display: flex;
}


@media screen and (max-width: 520px) {
  .toolbar {
    width: 93vw;
    height: 260px;
    position: relative;
    margin-bottom: 70px;
    background: transparent;
    min-width: 300px;
    padding-right: 25px;
    padding-left: 25px;
  }

  .toolbarExpand {
    width: fit-content;
    height: fit-content;
    position: relative;
    background: transparent;
    margin-bottom: 10px;
    z-index: 20;
  }
}

@media screen and (min-width: 520px) and (max-width: 1200px) {
  .toolbar {
    width: 93vw;
    height: 260px;
    position: relative;
    margin-bottom: 70px;
    background: transparent;
    min-width: 300px;
  }

  .toolbarExpand {
    width: fit-content;
    height: fit-content;
    position: relative;
    background: transparent;
    margin-bottom: 10px;
    z-index: 20;
  }
}

@media only screen and (orientation: landscape) {
  .toolbar {
    width: 30vw;
    height: 35%;
    position: absolute;
    bottom: 0;
    margin-bottom: 28vh;
    background: transparent;
    min-width: 300px;
  }
  
  .toolbarFullscreen {
    width: calc(45vw);
    height: 40%;
    position: absolute;
    bottom: 0;
    margin-bottom: 70px;
    background: transparent;
    min-width: 300px;
  }

  h2 {
    font-size: initial;
  }
  
  .toolbarExpand {
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 0;
    margin-bottom: 100px;
    background: transparent;
    z-index: 20;
  }

  .headerContainer {
    height: 30px;
  }
}


@media only screen and (orientation: landscape) and (min-width: 800px) {
  .toolbar {
    width: 30vw;
    height: 35%;
    position: absolute;
    bottom: 0;
    margin-bottom: 60px;
    background: transparent;
    min-width: 300px;
  }
  
  .toolbarFullscreen {
    width: calc(45vw);
    height: 40%;
    position: absolute;
    bottom: 0;
    margin-bottom: 70px;
    background: transparent;
    min-width: 300px;
  }

  h2 {
    font-size: initial;
  }
  
  .toolbarExpand {
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 0;
    margin-bottom: 100px;
    background: transparent;
    z-index: 20;
  }

  .headerContainer {
    height: 30px;
  }
}

.custom-tooltip {
  width: 200px;
  margin: 0;
  line-height: 24px;
  border: 1px solid #f5f5f5;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

  .label {
    margin: 0;
    color: #666;
    font-weight: 700;
  }
  .desc {
    margin: 0;
    color: #999;
  }
  .intro {
    border-top: 1px solid #f5f5f5;
    margin: 0;

  }