.chart {
  width: calc(100vw - 580px);
  height: 30%;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  background: blue;
  opacity: 0.1;
  min-width: 300px;
}

.chartFullScreen {
  width: calc(100vw - 60px);
  height: 40%;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  background: blue;
  opacity: 0.1;
  min-width: 300px;
}