.wrapper {
  width: 100vw;
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: 1fr 20px 520px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 120px;
}

.map, table, .hideButton {
  width: 100%;
}

.hideButton {
  align-self: center;
  margin-left: -15px;
}

.map {
  min-width: 300px;
  background: blue;
}

.table {
  display:flex;
  max-height:calc(100vh - 100px);
}