.rt-tr {
  text-align: left!important;
  align-items: center;
}

.countryInputBox {
  border: 1px solid rgba(0,0,0,0.1);
    background: #fff;
    padding: 5px 7px;
    font-size: inherit;
    border-radius: 3px;
    font-weight: normal;
    outline-width: 0;
}